body { font-family: 'Raleway', sans-serif; }

h1 { text-align: center; margin-top: 2rem; }

.acc-wrapper { border-radius: 10px; z-index: 99; overflow: hidden; width: -webkit-max-content; width: -moz-max-content; width: max-content; padding: 0 0; margin: 0 0; height: -webkit-max-content; height: -moz-max-content; height: max-content; margin: 5rem auto; }

.acc { background-color: rgba(128, 128, 128, 0.05); padding: 0 0; max-width: 300px; margin: 0 0; box-shadow: 0 0 10px rgba(128, 128, 128, 0.2); }

.acc .content { padding: 0 20px; height: 0; overflow: hidden; transition: 0.5s; }

.acc .tab { background: rgba(128, 128, 128, 0.4); padding: 10px 20px; box-shadow: 0 2px 10px rgba(128, 128, 128, 0.2); font-size: 1.3rem; font-weight: bold; }

.acc .tab:hover { cursor: pointer; }

.acc .tab.active + .content { height: auto; overflow: auto; padding: 20px 20px; }
